.navigation{
	width: 200px;
	float:left;
	padding-top: 50px;
}

.navigation__list{
	list-style: none;
}

.navigation__item{
	margin-bottom: 40px;
}

.navigation__link{
	display: block;
	position: relative;
	text-decoration: none;
	color:#1c5bc3;
}

.navigation__text{
	margin-left: 36px;
	font-size:12px;
	font-weight:700;
	text-transform: uppercase;
	color:#1c5bc3;
	vertical-align:middle;
}

.navigation__text_chosen{
	color:#221f1f;
}

.navigation__icon{
	position: absolute;
	width: 23px;
	height: 23px;
	overflow: hidden;
}


.navigation__pic{
	vertical-align: middle;
}

