<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title about
        link(rel="stylesheet", href="../../css/main.css")
    body
        .wrapper
            .maincontent
                section.section.first-section
                    header.first-section__header.header
                        ul.header__socials.socials
                            li
                                a(href="#")
                            li
                                a(href="#")
                            li
                                a(href="#")
                        .header__hamburger
                    .first-section__person-card.person-card
                        .person-card__avatar
                        .person-card__name
                        .person-card__text
                    .first-section__arrow
                    .first-section__angles
                        .first-section__angle-block.first-section__angle-block_left
                        .first-section__angle-block.first-section__angle-block_right
                section.section.second-section
                    .second-section__aboute-me.aboute-me
                        .aboute-me.aboute-me__avatar
                    .second-section__my-benefits.my-benefits
                section.section.last-section
                    .last-section__map
                    .last-section__contacts
                    footer.footer
                        .footer__top
                            ul.footer__menu
                                li
                                    a(href="#") Мои работы
                                li
                                    a(href="#") Обо мне
                                li
                                    a(href="#") Блог
                                li
                                    a(href="#") Авторизация
                            ul.footer__socials
                                li
                                    a(href="#")
                                li
                                    a(href="#")
                                li
                                    a(href="#")
                        .footer__bottom
                            .footer__text.footer__text_left
                            .footer__text.footer__text_right




                // -------- SCRIPTS ------------
                //- script(src="../js/jquery.min.js")
