.gradient-orange{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9b43b+0,eb8d38+50,f9b43b+100 */
    background: rgb(249,180,59); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(249,180,59,1) 0%, rgba(235,141,56,1) 50%, rgba(249,180,59,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(249,180,59,1) 0%,rgba(235,141,56,1) 50%,rgba(249,180,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(249,180,59,1) 0%,rgba(235,141,56,1) 50%,rgba(249,180,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 ); /* IE6-9 */
}

.burgers{
    display:flex;
    align-items: center;
    justify-content: center;
}

.burgers__container{
    margin: 0;
}

.burgers__carousel{
    flex:1;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.burgers__item{
    flex:1;
    display: flex;
    flex-flow:row;
    justify-content: space-around;
    align-items:center;
    margin-top:5px;
    flex-wrap:wrap;

    @include tablets{
        flex-wrap:nowrap;
        flex-flow:column;
    }
}

.burgers__pic{
    display:flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-image: url(../img/burgers/burger-1.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 440px 310px;
    width: 443px;
    height:472px;
    flex: 0 1 443px;
    position:relative;

    @include tablets{                
        width: 477px;
        height:390px;
        flex-basis:390px;
        background-position: center bottom;
        margin-bottom:40px;
    }

    @include phones{  
        width: 350px;
        background-size: 350px 260px;
    }
}

.burgers__energy{
    position: absolute;
    left: 0;
    bottom: 0;

    &:after{
        display:block;
        content:'ККАЛ';
        @include font-h3($color-white);
        text-align: center;
        color: rgba($color-white, .5);
    }

    @include tablets{
        flex-flow:column;
        left: auto;
        bottom: auto;
        top:0;
        right:0;
    }
}

.burgers__energy-svg{
    width:62px;
    height: 62px;
    fill:$color-white;
    fill-opacity: .5;
}

.burgers__kkal{
    position: absolute;
    top:30px;
    left:13px;
    @include font-h3($color-white);
    font-size:23px;
    color: rgba($color-white, .5);
}

.burgers__info{
    display: flex;
    flex-flow:column;
    flex-shrink:1;
    flex-grow: 0;
    flex-basis:445px;

    @include tablets{
        text-align: center;
        flex-basis:auto;
    }
}

.burgers__title{
    line-height: 62px;
}

.burgers__text{
    @include font-text($color-white);
    margin:40px 0;
}

.burgers__order{
    display: flex;
    align-items:flex-end;

    @include tablets{
        justify-content: center;
    }
}

.burgers__price{
    h1{
        @include font-h1($color-orange);
        display: inline;
    }

    h2{
        @include font-h2($color-orange);
        display: inline;
    }
}

// ------------------------ CONSIST ----------------

.consist__btn{
    display: block;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 0;
    width:90px;
    height:90px;
    background-color: #f08c33;
    border-radius:5px;
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items:center;
    text-align: center;
    &:hover{
        background-color: $color-orange;
    }
}

.consist__image{
    fill: $color-white;
    width:47px;
    height:44px;
    margin-bottom:8px;
}

.consist__title{
    @include font-h3($color-white);
}

.consist__table{
    position:absolute;
    top:0;
    left:90px;
}

// ----------------- CONSIST-TABLE --------------

.consist-table{
    background-color: rgba($color-white, .8);
    border-radius: 5px;
    width:270px;
    @include font-text($color-black);
    padding: 20px;
    display:none;
}

.consist-table__image{
    width:45px;
    height:40px;

    &_beef, &_sauce{
        fill: $color-orange;
    }
    &_buns, &_cucumber{
        fill: $color-yellow;
    }
    &_salad, &_cheese{
        fill: $color-green;
    }
}

.consist-table__cell{
    &:first-child{
        text-align: left;
    }

    &::nth-child(2){
        text-align: left;
    }

    &:last-child{
        text-align: right;
    }
}

// --------------------- CAROUSEL ----------------

.burgers__btn{

    display:block;
    width:30px;
    height:28px;
    border: 0;
    background-color:transparent;
    cursor: pointer;
    text-align: center;

    &:focus{
        outline: none;
    }

    @include phones{
        position: relative;
    }
}

.burgers__image{
    width:28px;
    height:17px;
    fill:$color-white;

    &:hover{
        fill: $color-orange;
    }

    @include phones{
        position: absolute;
    }

}

.burgers__image_prev{
    transform: rotate(90deg);

    @include phones{
        bottom:0px;
        right:-20px;
        z-index: 1;
    }

}

.burgers__image_next{
    transform: rotate(-90deg);

    @include phones{
        bottom:0px;
        left:-20px;
        z-index: 1;
    }
}

.burgers__pic > .burgers__btn{
    display:none;

    // @include phones{
    //     display:initial;
    // }
}

.burgers__pic .burgers__btn_next{
    margin-left:auto;
}

.burgers > .burgers__btn{
    // @include phones{
    //     display:none;
    // }
}
