.contacts{
    background-image: url(../img/contacts/bg.jpg);
}

// ---------------------------- FOOTER ---------------------------

.footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:58px;
    background: url(../img/contacts/footer-bg.jpg) top right no-repeat;

    @include tablets{
        height:61px;
    }

    @include phones{
        height:115px;
    }
}

.footer__container{
    flex-flow:row;
    justify-content: space-between;
    align-items: center;

    @include phones{
        flex-flow:column;
        justify-content: space-around;
    }
}

.footer__contacts{
    @include phones{
        text-align: center;
    }
}

.footer__contacts p{
    @include font-text($color-white);
    margin-bottom:7px;

    @include phones{
        margin-top:7px;
    }
}

.footer__link{
    position:relative;
    margin-left:20px;
    text-decoration: none;
    @include font-h4($color-orange);
}

.footer__svg-phone{
    position:absolute;
    bottom:2px;
    left:-20px;
    height: 12px;
    width:14px;
    fill: $color-orange;
}

.footer__socials{       
    @include phones{
        margin-bottom:5px;
        margin-right:21px;
    }
}

// ---------------------------------- SOCIALS --------------------------

.socials__link{
    margin-left:17px;
}

.socials__svg{
    width:20px;
    height:20px;
    fill: $color-gray;
    &:hover{
        fill:$color-white;
    }
}

// ------------------------------ MAP ---------------------------------


.contacts__map{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: url(../img/contacts/bg.jpg) no-repeat center center;
    background-size: cover;
}