/* ------------------- BACKGROUND --------------------- */

.first-screen{
    background-image: url(../img/first-screen/video-bg.jpg);
}

// .first-screen__texture{
//     height:100%;
//     background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), 
//     linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
//     background-size:4px 4px;
//     background-position:0 0, 30px 30px;
// }

/* -------------------- HEADER ---------------------- */

.first-screen__header{
    height: 86px;
    display: flex;
    align-items: flex-end;     
}

.first-screen__menu{
    margin-left:auto;
    margin-bottom:25px;
}


/* ------------------ NAVIGATION ------------------ */

.navigation{
    @include tablets{
        display:none;
    }

    @include phones{
        display:none;
    }    
}

.navigation__item{
    display: inline-block;
    margin-right: 10px;
    &:before{
        content:"";
        height: 4px;
        width: 4px;
        background-color:#fff;
        border-radius: 50%;
        margin-bottom:3px;
        margin-right:17px;
        display: inline-block;
    }
    &:first-child:before{
        content:"";
        height: 0px;
        width: 0px;
    }

    &:last-child{
        margin-right:14px;
    }
}

.navigation__link{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 30px;
    font-family: "Ubuntu";
    font-weight: 500;
    &:hover{
        text-decoration: underline;
    }
}


/* --------------------------- CONTENT ------------------------ */

.first-screen__content{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    flex:1;
    padding:53px 37px 0px 0px;

    @include tablets{
        justify-content:space-around;
        padding:50px 0 70px 0;
    }

    @include phones{
        justify-content:space-around;
    }
}

.first-screen__burger-wrap{
    flex-basis: 465px;
    height:325px;
    width:367px;
    display:flex;
    align-items: flex-end;

    
    @include tablets{
        height:424px;
        padding-left:5px;
    }
        
    // @include phones{
    //     margin-left:-5px;
    //     flex-basis:457px;
    //     height:380px;
    // }
}

.first-screen__burger{
    height:424px;
    width:451px;
    background: url(../img/first-screen/burger.png) no-repeat center bottom;
}

.first-screen__info{
    flex-basis: 405px;
    height:424px;
    display:flex;
    flex-flow:column;
    justify-content: center;
    padding-bottom: 27px;

    @include tablets{
        margin-right:0;
        text-align: center;
        padding-bottom:0;
        padding-right:7px;
        min-height:0;
        height:235px;
    }

    @include phones{
        margin-right:0;
        text-align: center;
        padding:0;
        min-height:0;
    }
}

.first-screen__title{
    @include font-h1($color-yellow);
    margin-bottom: 19px;
}

.first-screen__text{
    font-family: 'lifehack';
    font-weight: 500;
    font-style: normal;
    color:#fff;
    font-size:65px;
    line-height: 60px;
    letter-spacing:-1.63px;
}

/* ---------------------------- ARROW_SCROLL -------------------------- */

.first-screen__arrow-scroll{
    width: 29px;
    align-self: center;
    margin-bottom: 35px;
    height: 86px;
}

.arrow-scroll{
    fill: $color-white;
    width: 29px;
    height:17px;
    margin-top:64px
}

// -------------------------- HAMBURGER MENU -------------------------

.hamburger{
    display:none;
    height:22px;
    width:24px;
    margin-bottom:28px;
    margin-left:29px;
    margin-right:9px;

    @include tablets{
        display:block;
    }

    @include phones{
        display:block;
    }
}

.hamburger__outer{
    border-top: 4px solid $color-white;
    border-bottom: 4px solid $color-white;
    height:100%;
    width:100%;
    display:flex;
    flex-flow:column;
    justify-content:center;
}

.hamburger__inner{
    height:4px;
    width:100%;
    background-color: $color-white;
}