/* ------------------- BACKGROUND --------------------- */

.first-screen{
    background-image: url(../img/first-screen/video-bg.jpg);
}

.first-screen__texture{
    height:100%;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), 
    linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
    background-size:4px 4px;
    background-position:0 0, 30px 30px;
}

/* -------------------- HEADER ---------------------- */

.first-screen__header{
    height: 86px;
    display: flex;
    align-items: flex-end; 
    
    margin-bottom:28px;
}

.first-screen__menu{
    margin-left:auto;
    margin-bottom:25px;
}


/* ------------------ NAVIGATION ------------------ */

.navigation{
    font-size: 0;
}

.navigation__item{
    display: inline-block;
    margin-right: 14px;
    &:before{
        content:"";
        height: 4px;
        width: 4px;
        background-color:#fff;
        border-radius: 50%;
        margin-bottom:3px;
        margin-right:17px;
        display: inline-block;
    }
    &:first-child:before{
        content:"";
        height: 0px;
        width: 0px;
    }
}

.navigation__link{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 30px;
    font-family: "Ubuntu";
    font-weight: 500;
    &:hover{
        text-decoration: underline;
    }
}



.order-btn {
    background-color: #e45028;
    border-radius: 4px;
    padding: 10px 16px;
    margin-right:1px;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Ubuntu";
    font-weight: 500; 
    display:block;
    &:hover{
        background-color: darken(#e45028, 20%);
    }
}

.first-screen__order-btn{
    margin-bottom:23px;
}

/* --------------------------- CONTENT ------------------------ */

.first-screen__content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex:1;
}

.first-screen__burger{
    position: relative;
    flex-basis: 451px;
    height:420px;
    background: url(../img/first-screen/burger.png) no-repeat;
    background-position: 34px -67px;
    margin-left:19px;
}

.first-screen__drops{
    width: 451px;
}

.first-screen__info{
    margin-right:57px;
    flex-basis: 405px;
    min-height:420px;
    display:flex;
    flex-flow:column;
    justify-content: space-between;
    padding: 69px 0 130px 0;
}

.first-screen__title{
    @include font-h1($color-yellow);
    margin-bottom: 19px;
}

.first-screen__text{
    font-family: 'lifehack';
    font-weight: 500;
    font-style: normal;
    color:#fff;
    font-size:65px;
    line-height: 60px;
    letter-spacing:-1.63px;
}

/* ---------------------------- ARROW_SCROLL -------------------------- */

.first-screen__arrow-scroll{
    width: 29px;
    align-self: center;
    margin-bottom: 35px;
}

.arrow-scroll{
    fill: $color-white;
    width: 29px;
    height:17px;
}