/* ------------------- BACKGROUND --------------------- */

.first-screen{
    background-image: url(../img/first-screen/video-bg.jpg);
}

// .first-screen__texture{
//     height:100%;
//     background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), 
//     linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
//     background-size:4px 4px;
//     background-position:0 0, 30px 30px;
// }

/* -------------------- HEADER ---------------------- */

.first-screen__header{
    height: 86px;
    display: flex;
    align-items: center;    
}

.logo-link{
    display:block;
}

.first-screen__menu{
    margin-left:auto;
}


/* ------------------ NAVIGATION ------------------ */

.navigation{
    text-align:center;

    @include tablets{
        display:none;
    }
}

.navigation__item{
    display: inline-block;
    margin-right: 10px;
    &:before{
        content:"";
        height: 4px;
        width: 4px;
        background-color:#fff;
        border-radius: 50%;
        margin-bottom:3px;
        margin-right:17px;
        display: inline-block;
    }
    &:first-child:before{
        content:"";
        height: 0px;
        width: 0px;
    }

    &:last-child{
        margin-right:14px;
    }
}

.navigation__link{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 30px;
    font-family: "Ubuntu";
    font-weight: 500;
    &:hover{
        text-decoration: underline;
    }
}


/* --------------------------- CONTENT ------------------------ */

.first-screen__content{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-around;
    flex:1;

    @include tablets{
        flex-flow:column;
    }
}

.first-screen__burger{
    flex-basis: 451px;
    height:424px;
    width:451px;
    background: url(../img/first-screen/burger.png) no-repeat center bottom;
    background-size:451px 424px;
        
    @include phones{
        height:339px;
        width:361px;
        margin-bottom:18px;
        background-image: url(../img/first-screen/burger-phones.png);
        background-size:361px 339px;
    }
}



.first-screen__info{
    flex-basis: 405px;
    display:flex;
    flex-flow:column;
    justify-content: center;

    @include tablets{
        text-align: center;
    }

    @include phones{
        text-align: center;
    }
}

.first-screen__title{
    @include font-h1($color-yellow);

    @include phones{
        font-size:63px;
    }
}

.first-screen__text{
    font-family: 'lifehack';
    font-weight: 500;
    font-style: normal;
    color:#fff;
    font-size:65px;
    line-height: 60px;
    letter-spacing:-1.63px;

    @include phones{
        font-size:54px;
    }
}

/* ---------------------------- ARROW_SCROLL -------------------------- */

.first-screen__arrow-scroll{
    width: 29px;
    align-self: center;
}

.arrow-scroll{
    fill: $color-white;
    width: 29px;
    height:17px;
}