.fixed-nav-bar{
    width:6px;
    height: 150px;
    position:fixed;
    top:96px;
    right:54px;

    @include tablets{
        display:none;
    }

    @include phones{
        display:none;
    }
}

.fixed-nav-bar__item{
    display:block;
}

.fixed-nav-bar__link{
    display:block;
}

.fixed-nav-bar__radio{
    position: relative;
    width:5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: 0 0 3px rgba(0,0,0,0.7);
}

#menu .active .fixed-nav-bar__link{
    .fixed-nav-bar__radio:before{
        content:"";
        position: absolute;
        left: -5px;
        top:-5px;
        width:13px;
        height: 13px;
        border-radius: 50%;
        border:1px #fff solid;
        box-shadow: 0 0 1px rgba(0,0,0,0.7);
    }
}