.fixed-nav-bar{
    width:6px;
    height: 150px;
    position:fixed;
    top:96px;
    right:54px;
}

.fixed-nav-bar__item{
    display:block;
}

.fixed-nav-bar__link{
    display:block;
}

.fixed-nav-bar__radio{
    position: relative;
    width:6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 15.3px;
}

.fixed-nav-bar__item_active{
    .fixed-nav-bar__radio:before{
        content:"";
        position: absolute;
        left: -5.65px;
        top:-5.5px;
        width:15px;
        height: 15px;
        border-radius: 50%;
        border:1px #fff solid;
    }
}