.menu{
    background-image: url(../img/menu/bg.jpg);
}

.menu__header{
    @include font-h1($color-white);
    position:absolute;
    left:94px;
    top:111px;
}

.menu__accordeon{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    height:100%;
}

.menu-acco{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu_empty-block{
    width:100%;
    height: 100%;

}

.menu-acco__item{
    height:100%;
    display:flex;
}

.menu-acco__link{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:80px;
    height:100%;
    background-position: center center;
    background-size: cover;
    
    &_meat{
        background-image: url(../img/menu/meat-bg.jpg);
    }

    &_vegan{
        background-image: url(../img/menu/vegan-bg.jpg);
    }

    &_diet{
        background-image: url(../img/menu/diet-bg.jpg);
    }
}


.menu-acco__title{
    display:inline-block;
    @include font-h2($color-white);
    transform:rotate(-90deg);
    width:95vh;
    height:40px;
    text-align: center;

    @include tablets{
        text-align: start;
        width:99vh;
    }

    @include phones{
        text-align: start;
    }
}



.menu-acco__text{
    @include font-text($color-white);
    line-height: 24px;
    background-color:rgba(#2f3234, 0.95); 
    height:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    width:540px;
    padding:65px 36px;
    display:none;

    @include tablets{
        width:auto;
        flex-grow:1;
        flex-shrink: 9;
    }
    @include phones{
        width:auto;
        flex-grow:1;
        flex-shrink: 9;
    }
}

// ------------------------ ACTIVE ---------------------

.menu-acco__item_active{
    @include tablets{
        flex:1;
    }
    @include phones{
        flex:1;
    }
}

.menu-acco__item_active .menu-acco__text{
    display:initial;
    animation-name: fadeIn;
    
}

.menu-acco__item_active .menu-acco__title{
    color: $color-yellow;
}