.order-btn {
    @include font-btn;
    border: 0px;
    background-color: #e45028;
    border-radius: 4px;
    height: 35px;
    width: 97px;
    margin-right:1px;
    display:block;
    cursor: pointer;
    &:hover{
        background-color: darken(#e45028, 20%);
        transition: all .2s;
    }

    &:focus{
        outline: none;
        border: 2px solid $color-yellow;
    }
}

.order-btn_first-screen{
    align-self:center;

    @include tablets{
        margin-right: 60px;
    }
}

.order-btn_burgers{
    margin-bottom: 17px;
    margin-left:30px;
}