.order{
    background-image: url(../img/form/bg.jpg);
}

.order__container{
    @include tablets{
        display:flex;
        align-items:center;
    }

    // @include phones{
    //     width:94%;
    // }
}

.order__header{
    @include font-h1($color-yellow);
    text-align: center;
    margin-top:77px;
    margin-bottom:70px;

    @include tablets{
        margin-top:109px;
    }

    @include phones{
        font-size:50px;
        margin-top:61px;
        margin-bottom:26px;
    }
}

// --------------------------- FORM --------------------------

.form_container{
    display: flex;
    justify-content: space-between;

    @include tablets{
        flex-wrap:wrap;
        width:470px;
    }

    @include phones{
        width: 100%;
    }
}

.form__left{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    flex:1;
    padding-right:1%;
    flex-basis:460px;

    @include tablets{
        padding:0;
    }

    @include phones{
        padding:0;
    }
}

.form__right{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex:1;
    padding-left:1%;
    flex-basis:460px;

    @include tablets{
        padding:0;
    }

    @include phones{
        padding:0;
    }
}

.form__row{
    display:flex;
    justify-content: space-between;
    min-height:75px;
}

.form__radio-row{
    min-height:31px;
    display: flex;
    align-items:flex-end;
    justify-content: flex-start;

    @include phones{
        justify-content: center;
        padding-left: 23px;
        padding-top:35px;
    }
}



.form__chek-row{
    min-height:40px;
    display: flex;
    align-items:flex-end;
    justify-content: flex-start;

    @include tablets{
        min-height:41px;
    }

    @include phones{
        min-height:43px;
        justify-content: center;
        padding-left: 22px;
        padding-top:37px;
    }
}

.form__block{
    flex:1;    
    padding-right: 4%;
    &:last-child{
        padding-right:0;
    }
    
    @include phones{
        padding-right:2%;

        &:nth-child(3){
            padding-right:0;
        }
    }
}

.form__block_phone{
    @include phones{
        display:none;
    }
}

.form__block-title{
    @include font-text($color-white);

    &_radio{
        position:relative;
        margin: 0 23px;
        &:before{
            position:absolute;
            left: -25px;
            top:0;
            content:"";
            width:15px;
            height: 15px;
            border-radius:50%;
            background-color:$color-white; 
        }

        &:after{
            position:absolute;
            left: -21px;
            top:4px;
            // content:"";
            width:7px;
            height: 7px;
            border-radius:50%;
            background-color:$color-orange;            
        }
    }

    &_checkbox{
        position:relative;
        margin: 0 25px;

        &:before{
            position:absolute;
            left: -25px;
            top:0;
            content:"";
            width:15px;
            height: 15px;           
            background-color:$color-white;            
        }

        &:after{
            position:absolute;
            left: -23px;
            top:2px;
            // content:"";
            width:7px;
            height:4px;            
            border-left:4px solid $color-orange;
            border-bottom:4px solid $color-orange;
            transform: rotate(-45deg);             
        }
    }
}

.form__input{
    width: 100%;
    height: 50%;
    border-radius:7px;
    margin-top:5px;
    overflow:hidden;
    padding: 0 23px;
    @include font-text($color-black);

    &:focus{
        outline: none;
        border: 2px solid $color-yellow;
    }

    @include phones{
        border-radius:4px;
        padding: 0 20px;
    }
}

.form__input_textarea{
    resize: none;
    height:111px;    
}

.form__radio{
    &:checked + .form__block-title_radio:after {
        content:"";
    }

    &:focus + .form__block-title_radio:before{
        border: 2px solid $color-yellow;
        box-sizing: border-box;
    } 
}


.form__checkbox{
    &:checked + .form__block-title_checkbox:after{
        content:"";
    }

    &:focus + .form__block-title_checkbox:before{
        border: 2px solid $color-yellow;
        box-sizing: border-box;
    }
}

.form__btns{
    display: flex;
    align-items: flex-end;
    min-height:55px;

    // &:focus{
    //     outline: none;
    //     border: 2px solid $color-yellow;
    // }

    @include tablets{
        min-height:75px;
    }

    @include phones{
        justify-content: center;
        padding-right:8px;
        padding-bottom:1px;
    }
}

.form__reset{    
    background: transparent;
    border: 0;
    @include font-text($color-white); 
    cursor: pointer;
    margin-left:19px;
    height: 35px;
    padding: 0 10px;
    
    &:focus{
        outline: none;
        border: 2px solid $color-yellow;
    }
}

// --------------------- ORDER MESSAGE ------------------------

.order-message{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:196px;
    height: 106px;
    background-color:$color-white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    display:flex;
    flex-flow:column;
    justify-content: space-around;
    align-items: center;
}

.order-message__text{
    @include font-text($color-black);
}

.order-message__btn{
    @include font-btn;
    outline:none;
    border:none;
    width:97px;
    height:35px;
    background-color:$color-orange;
    border-radius: 5px;
    cursor: pointer;
}