.order-btn {
    border: 0px;
    background-color: #e45028;
    border-radius: 4px;
    height: 35px;
    width: 97px;
    margin-right:1px;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Ubuntu";
    font-weight: 500; 
    display:block;
    cursor: pointer;
    &:hover{
        background-color: darken(#e45028, 20%);
        transition: all .2s;
    }

    &:focus{
        outline: none;
        border: 2px solid $color-yellow;
    }
}

.order-btn_first-screen{
    margin-bottom:23px;
    margin-right:2px;
}

.order-btn_burgers{
    margin-bottom: 17px;
    margin-left:30px;
}