// --------------------------- REVIEW -----------------------

.review__list{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height:100%;
}

.review__item{
    width:100%/4;
    height:100%/2;
}

// ------------------------------ COMMENT ----------------------

.comment{
    background: url(../img/review/photo-1438.jpg) no-repeat center;
    background-size:cover;
}