// --------------------------- REVIEW -----------------------

.review{
    background-image:url(../img/review/bg.jpg);
}

.review__list{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height:100%;
}

.review__item{
    height: 50%;
    width:25%;
    filter:grayscale(100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

    @include tablets{
        height:25%;
        width:50%;
    }

    @include phones{
        height:25%;
        width:50%;
    }
}

// ------------------------------ COMMENT ----------------------

.comment{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 48px 20px;
    padding-bottom: 50px;
    &:hover{
        transition: .1s;
        background: rgba(#454545, .7);
    }
    &:hover [class^="comment__"]{
        visibility: visible;        
    }

    @include tablets{
        align-items: center;
        padding-top:20px;
    }

    @include tablets{
        align-items: center;
        padding-top:20px;
    }
}

.comment__username{
    @include font-h3($color-white);
    visibility: hidden;
}

.comment__text{
    @include font-text($color-white);
    margin-top:7px;
    line-height:24px;
    color:#fff;
    visibility: hidden;
}

.comment__btn{
    display:inline-block;
    padding:10px 15px;;
    border-radius: 5px;
    background-color:#2f3234;
    text-transform: uppercase;
    font-size:13px;
    font-family: "Ubuntu";
    font-weight: 500;
    color:#fff;
    visibility: hidden;
    text-decoration:none;
    border:0;
    cursor: pointer;
    &:hover{
        background-color: darken(#2f3234, 20%);
        transition: all .3s;
    }
}
