.we{
    background-image: url(../img/we/bg.jpg);
}

.we__header{
    @include font-h1($color-black);
    margin-top:65px;
    text-align: center;
}

.we__benefit-wrap{
    flex:1;
    display:flex;
    padding: 0 7px;
    align-items: center;
}

.we__benefit-list{
    display: flex;

    justify-content: space-between;
}

.we__benefit-item{
    flex-basis: 290px;
}

/* ---------------- BENEFITS ----------------- */

.benefit{
    color:$color-black;
    text-align: center;
}

.benefit__pic{
    height: 123px;
}

.benefit__svg_meat{
    width:98px;
    height:94px;
    fill:#df5430;
}

.benefit__svg_hand{
    width:73px;
    height:93px;
    fill:#f5b640;
}

.benefit__svg_natural{
    width:90px;
    height:86px;
    fill:#88c241;
}

.benefit__header{
    font-family: 'lifehack';
    font-weight: 500;
    font-style: normal;
    font-size:24px;
    line-height: 28.11px;
    margin-bottom: 14px;
    letter-spacing: -0.6px;
}

.benefit__header_margin{
    margin-bottom: 5px;
}

.benefit__text{
    font-size: 14px;
    font-family: "Ubuntu";
    font-weight: 300;
    line-height: 24.05px;
}

// ------------------------------ EMPTY BLOCK -------------------------

.we__empty-block{
    height:102px;
}



