.we{
    background-image: url(../img/we/bg.jpg);
}

.we__header{
    text-transform: uppercase;
    color:#2f3234;
    font-family: 'gagalin';
    font-weight: normal;
    font-style: normal;
    font-size: 72px;
    margin-top:65px;
    margin-bottom: 73px;
    text-align: center;
}

.we__benefit-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex:1;
    padding: 0 7px;
}

.we__benefit-item{
    flex-basis: 290px;
}

/* ---------------- BENEFITS ----------------- */

.benefit{
    color:#2f3234;
    text-align: center;
}

.benefit__pic{
    height: 119px;
}

.benefit__svg_meat{
    width:98px;
    color:red;
}

.benefit__svg_hand{
    width:75px;
    color:yellow;
}

.benefit__svg_natural{
    width:85px;
    color:green;
}

.benefit__header{
    font-family: 'lifehack';
    font-weight: 500;
    font-style: normal;
    font-size:24px;
    line-height: 28.11px;
    margin-bottom: 13.5px;
    letter-spacing: -0.6px;
}

.benefit__header_margin{
    margin-bottom: 7px;
}

.benefit__text{
    font-size: 14px;
    font-family: "Ubuntu";
    font-weight: 300;
    line-height: 24.05px;
}

/* ----------------------------- VEGETABLES ----------------------- */

.we__veg{
    position:absolute;
}

.we__veg_cream{
    left:0px;
    top:28px;
}

.we__veg_tomato{
    left:58px;
    bottom:0px;
}
.we__veg_cheese{
    right:0px;
    bottom:0px;
}

.we__veg_green{
    top:55px;
    right: 0px;
}

