.we{
    background-image: url(../img/we/bg.jpg);

    @include tablets{
        background-image: url(../img/we/bg-tablets.jpg);
    }

    @include phones{
        background-image: url(../img/we/bg-phones.jpg);
    }
}

.we__header{
    @include font-h1($color-black);
    margin-top:65px;
    text-align: center;

    @include tablets{
        margin-top: 112px;
    }

    @include phones{
        font-size: 50px;
        margin-top:49px;
    }
}

.we__benefit-wrap{
    flex:1;
    display:flex;
    padding: 0 6px 107px 4px;
    align-items: center;

    @include tablets{
        padding-bottom:210px;
    }

    @include phones{
        padding-top:70px;
        padding-bottom:143px;
    }
}

.we__benefit-list{
    display: flex;
    justify-content: space-between;

    @include tablets{
        
    }

    @include phones{
        height:100%;
        flex-flow: column;
        justify-content: space-around;

    }
}

.we__benefit-item{
    flex-basis: 290px;

    @include tablets{
        flex-basis: 219px;
    }

    @include phones{
        flex-basis:160px;
    }
}

/* ---------------- BENEFITS ----------------- */

.benefit{
    color:$color-black;
    text-align: center;

    @include phones{
        display:flex;
        align-items: flex-start;
        text-align:left;
    }
}

.benefit__pic{
    height: 123px;

    @include phones{
        width:135px;
        height:91px;
        text-align:center;
    }
}

// ---------------------------- SVG SIZES ---------------------------

.benefit__svg_meat{
    width:98px;
    height:94px;
    fill:#df5430;

    @include phones{
        height:96px;
        margin-right:20px;
    }
}

.benefit__svg_hand{
    width:73px;
    height:93px;
    fill:#f5b640;

    @include phones{
        height:87px;
        margin-right:19px;
    }
}

.benefit__svg_natural{
    width:90px;
    height:86px;
    fill:#88c241;

    @include phones{        
        margin-right:20px;
        height:76px;
    }
}

// ------------------------ BENEFIT INFORMATION ---------------------

.benefit__info{
    @include phones{
        flex:1;
    }
}

.benefit__header{
    font-family: 'lifehack';
    font-weight: 500;
    font-style: normal;
    font-size:24px;
    line-height: 28.11px;
    margin-bottom: 14px;
    letter-spacing: -0.6px;
}

.benefit__header_margin{
    margin-bottom: 5px;

    @include phones{
        margin-bottom: 10px;
        margin-top:20px;
    }
}

.benefit__text{
    font-size: 14px;
    font-family: "Ubuntu";
    font-weight: 300;
    line-height: 24.05px;

    @include phones{
        overflow: hidden;
        max-height: 70px;
    }
}

