@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Roboto" , sans-serif;
  color: #221f1f;
  -webkit-font-smoothing: antialiased; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

section {
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: relative; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.wrapper {
  position: relative;
  min-width: 1100px;
  width: 100%;
  overflow: hidden;
  min-height: 100%; }

.container {
  width: 944px;
  min-height: 650px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column; }

.fixed-nav-bar {
  position: fixed; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

/* ------------------- BACKGROUND --------------------- */
.first-screen {
  background-image: url(../img/first-screen/video-bg.jpg); }

.first-screen__texture {
  height: 100%;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  background-size: 4px 4px;
  background-position: 0 0, 30px 30px; }

/* -------------------- HEADER ---------------------- */
.first-screen__header {
  height: 86px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 28px; }

.first-screen__menu {
  margin-left: auto;
  margin-bottom: 25px; }

/* ------------------ NAVIGATION ------------------ */
.navigation {
  font-size: 0; }

.navigation__item {
  display: inline-block;
  margin-right: 14px; }
  .navigation__item:before {
    content: "";
    height: 4px;
    width: 4px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 3px;
    margin-right: 17px;
    display: inline-block; }
  .navigation__item:first-child:before {
    content: "";
    height: 0px;
    width: 0px; }

.navigation__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 30px;
  font-family: "Ubuntu";
  font-weight: 500; }
  .navigation__link:hover {
    text-decoration: underline; }

.first-screen__btn {
  background-color: #e45028;
  border-radius: 4px;
  padding: 10px 16px;
  margin-right: 1px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Ubuntu";
  font-weight: 500;
  margin-bottom: 23px; }
  .first-screen__btn:hover {
    background-color: #932e13; }

/* --------------------------- CONTENT ------------------------ */
.first-screen__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.first-screen__burger {
  position: relative;
  -webkit-flex-basis: 451px;
  -ms-flex-preferred-size: 451px;
  flex-basis: 451px;
  height: 420px;
  background: url(../img/first-screen/burger.png) no-repeat;
  background-position: 34px -67px;
  margin-left: 19px; }

.first-screen__drops {
  width: 451px; }

.first-screen__info {
  margin-right: 57px;
  -webkit-flex-basis: 405px;
  -ms-flex-preferred-size: 405px;
  flex-basis: 405px;
  min-height: 420px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 69px 0 130px 0; }

.first-screen__title {
  text-transform: uppercase;
  color: #f9b43b;
  font-family: 'gagalin';
  font-weight: normal;
  font-style: normal;
  font-size: 72px;
  margin-bottom: 19px; }

.first-screen__text {
  font-family: 'lifehack';
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 65px;
  line-height: 60px;
  letter-spacing: -1.63px; }

/* ---------------------------- ARROW_SCROLL -------------------------- */
.first-screen__arrow-scroll {
  width: 29px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin-bottom: 35px; }

.fixed-nav-bar {
  width: 6px;
  height: 150px;
  position: absolute;
  top: 96px;
  right: 54px; }

.fixed-nav-bar__item {
  display: block; }

.fixed-nav-bar__link {
  display: block; }

.fixed-nav-bar__radio {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 15.3px; }

.fixed-nav-bar__item_active .fixed-nav-bar__radio:before {
  content: "";
  position: absolute;
  left: -5.65px;
  top: -5.5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px #fff solid; }

.we {
  background-image: url(../img/we/bg.jpg); }

.we__header {
  text-transform: uppercase;
  color: #2f3234;
  font-family: 'gagalin';
  font-weight: normal;
  font-style: normal;
  font-size: 72px;
  margin-top: 65px;
  margin-bottom: 73px;
  text-align: center; }

.we__benefit-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 7px; }

.we__benefit-item {
  -webkit-flex-basis: 290px;
  -ms-flex-preferred-size: 290px;
  flex-basis: 290px; }

/* ---------------- BENEFITS ----------------- */
.benefit {
  color: #2f3234;
  text-align: center; }

.benefit__pic {
  height: 119px; }

.benefit__svg_meat {
  width: 98px;
  color: red; }

.benefit__svg_hand {
  width: 75px;
  color: yellow; }

.benefit__svg_natural {
  width: 85px;
  color: green; }

.benefit__header {
  font-family: 'lifehack';
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 28.11px;
  margin-bottom: 13.5px;
  letter-spacing: -0.6px; }

.benefit__header_margin {
  margin-bottom: 7px; }

.benefit__text {
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 300;
  line-height: 24.05px; }

/* ----------------------------- VEGETABLES ----------------------- */
.we__veg {
  position: absolute; }

.we__veg_cream {
  left: 0px;
  top: 28px; }

.we__veg_tomato {
  left: 58px;
  bottom: 0px; }

.we__veg_cheese {
  right: 0px;
  bottom: 0px; }

.we__veg_green {
  top: 55px;
  right: 0px; }

.review {
  background-image: url(../img/review/bg.jpg); }

.container_review {
  width: 1100px; }

.review__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }

.review__item {
  -webkit-flex-basis: 275px;
  -ms-flex-preferred-size: 275px;
  flex-basis: 275px;
  min-height: 327px; }

.comment {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 50px 19px; }
  .comment:hover [class^="comment__"] {
    visibility: visible; }

.comment:nth-child(1) {
  background-image: url(../img/review/photo-1.jpg); }

.comment:nth-child(2) {
  background-image: url(../img/review/photo-2.jpg); }

.comment:nth-child(3) {
  background-image: url(../img/review/photo-3.jpg); }

.comment:nth-child(4) {
  background-image: url(../img/review/photo-4.jpg); }

.comment:nth-child(5) {
  background-image: url(../img/review/photo-5.jpg); }

.comment:nth-child(6) {
  background-image: url(../img/review/photo-6.jpg); }

.comment:nth-child(7) {
  background-image: url(../img/review/photo-7.jpg); }

.comment:nth-child(8) {
  background-image: url(../img/review/photo-8.jpg); }

.comment__username {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "gagalin";
  font-weight: normal;
  color: #fff;
  visibility: hidden; }

.comment__text {
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 300;
  color: #fff;
  visibility: hidden; }

.comment__btn {
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  background-color: #2f3234;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Ubuntu";
  font-weight: 500;
  color: #fff;
  visibility: hidden;
  text-decoration: none; }

.burgers {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9b43b+0,ed9139+50,f9b43b+100 */
  background: #f9b43b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9b43b 0%, #ed9139 50%, #f9b43b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f9b43b 0%, #ed9139 50%, #f9b43b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(50%, #ed9139), to(#f9b43b));
  background: -o-linear-gradient(top, #f9b43b 0%, #ed9139 50%, #f9b43b 100%);
  background: linear-gradient(to bottom, #f9b43b 0%, #ed9139 50%, #f9b43b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 );
  /* IE6-9 */ }

.contacts {
  background-image: url(../img/contacts/bg.jpg); }

.form {
  background-image: url(../img/form/bg.jpg); }

.menu {
  background-image: url(../img/menu/bg.jpg); }

.team {
  background-image: url(../img/team/bg.jpg); }

/* ----------------- FONTS ---------------- */
@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=main.css.map */