/* ----------------- FONTS ---------------- */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic");
@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

section {
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  position: relative;
  height: 100vh; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none; }

a {
  text-decoration: none; }

.wrapper {
  position: relative;
  min-width: 95vw;
  width: 100%;
  overflow: hidden;
  min-height: 100%; }

.container {
  width: 95%;
  max-width: 944px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column; }

.fixed-nav-bar {
  position: fixed; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

/* ------------------- BACKGROUND --------------------- */
.first-screen {
  background-image: url(../img/first-screen/video-bg.jpg); }

.first-screen__texture {
  height: 100%;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)), linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2));
  background-size: 4px 4px;
  background-position: 0 0, 30px 30px; }

/* -------------------- HEADER ---------------------- */
.first-screen__header {
  height: 86px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 28px; }

.first-screen__menu {
  margin-left: auto;
  margin-bottom: 25px; }

/* ------------------ NAVIGATION ------------------ */
.navigation {
  font-size: 0; }

.navigation__item {
  display: inline-block;
  margin-right: 14px; }
  .navigation__item:before {
    content: "";
    height: 4px;
    width: 4px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 3px;
    margin-right: 17px;
    display: inline-block; }
  .navigation__item:first-child:before {
    content: "";
    height: 0px;
    width: 0px; }

.navigation__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 30px;
  font-family: "Ubuntu";
  font-weight: 500; }
  .navigation__link:hover {
    text-decoration: underline; }

/* --------------------------- CONTENT ------------------------ */
.first-screen__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.first-screen__burger {
  position: relative;
  -webkit-flex-basis: 451px;
  -ms-flex-preferred-size: 451px;
  flex-basis: 451px;
  height: 420px;
  background: url(../img/first-screen/burger.png) no-repeat;
  background-position: 34px -67px;
  margin-left: 19px; }

.first-screen__drops {
  width: 451px; }

.first-screen__info {
  margin-right: 57px;
  -webkit-flex-basis: 405px;
  -ms-flex-preferred-size: 405px;
  flex-basis: 405px;
  min-height: 420px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 69px 0 130px 0; }

.first-screen__title {
  text-transform: uppercase;
  font-family: 'gagalin', 'Helvetica', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 72px;
  color: #f9b43b;
  margin-bottom: 19px; }

.first-screen__text {
  font-family: 'lifehack';
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 65px;
  line-height: 60px;
  letter-spacing: -1.63px; }

/* ---------------------------- ARROW_SCROLL -------------------------- */
.first-screen__arrow-scroll {
  width: 29px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin-bottom: 35px; }

.arrow-scroll {
  fill: #ffffff;
  width: 29px;
  height: 17px; }

.fixed-nav-bar {
  width: 6px;
  height: 150px;
  position: fixed;
  top: 96px;
  right: 54px; }

.fixed-nav-bar__item {
  display: block; }

.fixed-nav-bar__link {
  display: block; }

.fixed-nav-bar__radio {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 15.3px; }

.fixed-nav-bar__item_active .fixed-nav-bar__radio:before {
  content: "";
  position: absolute;
  left: -5.65px;
  top: -5.5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px #fff solid; }

.we {
  background-image: url(../img/we/bg.jpg); }

.we__header {
  text-transform: uppercase;
  font-family: 'gagalin', 'Helvetica', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 72px;
  color: #2f3234;
  margin-top: 65px;
  margin-bottom: 73px;
  text-align: center; }

.we__benefit-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 7px;
  padding-bottom: 73px; }

.we__benefit-item {
  -webkit-flex-basis: 290px;
  -ms-flex-preferred-size: 290px;
  flex-basis: 290px; }

/* ---------------- BENEFITS ----------------- */
.benefit {
  color: #2f3234;
  text-align: center; }

.benefit__pic {
  height: 119px; }

.benefit__svg_meat {
  width: 98px;
  height: 89px;
  fill: #df5430; }

.benefit__svg_hand {
  width: 73px;
  height: 85px;
  fill: #f5b640; }

.benefit__svg_natural {
  width: 91px;
  height: 77px;
  fill: #88c241; }

.benefit__header {
  font-family: 'lifehack';
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 28.11px;
  margin-bottom: 13.5px;
  letter-spacing: -0.6px; }

.benefit__header_margin {
  margin-bottom: 7px; }

.benefit__text {
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 300;
  line-height: 24.05px; }

/* ----------------------------- VEGETABLES ----------------------- */
.we__veg {
  position: absolute; }

.we__veg_cream {
  left: 0px;
  top: 28px; }

.we__veg_tomato {
  left: 58px;
  bottom: 0px; }

.we__veg_cheese {
  right: 0px;
  bottom: 0px; }

.we__veg_green {
  top: 55px;
  right: 0px; }

.review {
  background-image: url(../img/review/bg.jpg); }

.container_review {
  width: 1100px; }

.review__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }

.review__item {
  height: 50%;
  width: 25%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.comment {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 50px 19px; }
  .comment:hover {
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    background: rgba(69, 69, 69, 0.7); }
  .comment:hover [class^="comment__"] {
    visibility: visible; }

.comment__username {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "gagalin", 'Helvetica', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  visibility: hidden; }

.comment__text {
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 300;
  color: #fff;
  visibility: hidden; }

.comment__btn {
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  background-color: #2f3234;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Ubuntu";
  font-weight: 500;
  color: #fff;
  visibility: hidden;
  text-decoration: none;
  border: 0;
  cursor: pointer; }
  .comment__btn:hover {
    background-color: black;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

.burgers {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9b43b+0,ed9139+50,f9b43b+100 */
  background: #f9b43b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9b43b 0%, #ed9139 50%, #f9b43b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f9b43b 0%, #ed9139 50%, #f9b43b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(50%, #ed9139), to(#f9b43b));
  background: -o-linear-gradient(top, #f9b43b 0%, #ed9139 50%, #f9b43b 100%);
  background: linear-gradient(to bottom, #f9b43b 0%, #ed9139 50%, #f9b43b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 );
  /* IE6-9 */ }

.contacts {
  background-image: url(../img/contacts/bg.jpg); }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: url(../img/contacts/footer-bg.jpg) top right no-repeat; }

.footer__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.footer__contacts p {
  font-size: 14px;
  font-family: "Ubuntu", 'Helvetica', sans-serif;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 14px; }

.footer__link {
  position: relative;
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Ubuntu", 'Helvetica', sans-serif;
  font-weight: 700;
  color: #e35028; }

.footer__svg-phone {
  position: absolute;
  bottom: 2px;
  left: -20px;
  height: 12px;
  width: 14px;
  fill: #e35028; }

.socials__svg {
  width: 20px;
  height: 20px;
  fill: #585858;
  margin-left: 20px; }
  .socials__svg:hover {
    fill: #ffffff; }

.order {
  background-image: url(../img/form/bg.jpg); }

.order__texture {
  background-image: url(../img/form/texture.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  height: 100vh; }

.order__header {
  text-transform: uppercase;
  font-family: 'gagalin', 'Helvetica', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 72px;
  color: #f9b43b;
  text-align: center;
  margin-top: 87px;
  margin-bottom: 70px; }

.form_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.form__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-right: 1%; }

.form__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 1%; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 75px; }

.form__radio-row {
  min-height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.form__chek-row {
  min-height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-right: 4%; }
  .form__block:last-child {
    padding-right: 0; }

.form__block-title {
  font-size: 14px;
  font-family: "Ubuntu", 'Helvetica', sans-serif;
  font-weight: 300;
  color: #ffffff; }
  .form__block-title_radio {
    position: relative;
    margin: 0 25px; }
    .form__block-title_radio:before {
      position: absolute;
      left: -25px;
      top: 0;
      content: "";
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #ffffff; }
    .form__block-title_radio:after {
      position: absolute;
      left: -21px;
      top: 4px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #e35028; }
  .form__block-title_checkbox {
    position: relative;
    margin: 0 25px; }
    .form__block-title_checkbox:before {
      position: absolute;
      left: -25px;
      top: 0;
      content: "";
      width: 15px;
      height: 15px;
      background-color: #ffffff; }
    .form__block-title_checkbox:after {
      position: absolute;
      left: -23px;
      top: 2px;
      width: 7px;
      height: 4px;
      border-left: 4px solid #e35028;
      border-bottom: 4px solid #e35028;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.form__input {
  width: 100%;
  height: 50%;
  border-radius: 4px;
  margin-top: 5px;
  overflow: hidden; }

.form__input_textarea {
  height: 115px; }

.form__radio:checked + .form__block-title_radio:after {
  content: ""; }

.form__checkbox:checked + .form__block-title_checkbox:after {
  content: ""; }

.form__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  min-height: 60px; }

.form__reset {
  background: transparent;
  border: 0;
  font-size: 14px;
  font-family: "Ubuntu", 'Helvetica', sans-serif;
  font-weight: 300;
  color: #ffffff;
  cursor: pointer;
  margin-left: 19px;
  height: 35px; }

.menu {
  background-image: url(../img/menu/bg.jpg); }

.menu__header {
  text-transform: uppercase;
  font-family: 'gagalin', 'Helvetica', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 72px;
  color: #ffffff;
  margin-top: 112px; }

.menu__accordeon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu-acco__item {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu-acco__link {
  position: relative;
  width: 80px;
  height: 100%; }

.menu-acco__title {
  position: absolute;
  top: 420px;
  left: -390px;
  text-transform: uppercase;
  font-family: 'gagalin', 'Helvetica', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  color: #ffffff;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 900px;
  height: 80px;
  text-align: center; }

.menu-acco__text {
  font-size: 14px;
  font-family: "Ubuntu", 'Helvetica', sans-serif;
  font-weight: 300;
  color: #ffffff;
  line-height: 24px;
  background-color: rgba(88, 88, 88, 0.7);
  width: 540px;
  height: 100%;
  padding: 65px 36px; }

.team {
  background-image: url(../img/team/bg.jpg); }

.team__right-block {
  position: absolute;
  right: 0;
  top: 0;
  width: 540px;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.95); }

.team__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  width: calc(100% - 80px*2); }

.team__header {
  text-transform: uppercase;
  font-family: 'gagalin', 'Helvetica', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 72px;
  color: #f9b43b;
  margin-top: 90px;
  margin-bottom: 45px; }

.persons__link {
  text-decoration: none; }

.persons__name {
  display: inline-block;
  clear: both;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "gagalin", 'Helvetica', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  position: relative;
  margin-left: 20px;
  margin-bottom: 35px; }
  .persons__name:before {
    display: inline-block;
    left: -20px;
    top: 6px;
    position: absolute;
    content: "";
    border-top: 6px solid #f9b43b;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent; }

.persons__avatar {
  width: 100px;
  height: 100px;
  margin: 0 20px;
  border-radius: 50%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.persons__position {
  font-size: 14px;
  font-family: "Ubuntu", 'Helvetica', sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px; }

.persons__about {
  font-size: 14px;
  font-family: "Ubuntu", 'Helvetica', sans-serif;
  font-weight: 300;
  color: #ffffff;
  line-height: 24px; }

.persons__item .persons__detail {
  display: none; }

.persons__item_active .persons__detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }

.persons__item_active .persons__name {
  color: #f9b43b;
  margin-bottom: 18px; }
  .persons__item_active .persons__name:before {
    border-top: 6px solid transparent;
    border-bottom: 6px solid #f9b43b;
    top: 0; }

.order-btn {
  background-color: #e45028;
  border-radius: 4px;
  padding: 10px 16px;
  margin-right: 1px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Ubuntu";
  font-weight: 500;
  display: block; }
  .order-btn:hover {
    background-color: #932e13;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }

.order-btn_first-screen {
  margin-bottom: 23px; }

/*# sourceMappingURL=main.css.map */