*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html{
	font-size:16px;
	width: 100%;
	height: 100%;

	// @include tablets{
	// 	font-size:15px;
	// }

	// @include phones{
	// 	font-size:14px;
	// }
}

body{
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	width: 100%;
	height: 100%;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}

a{
	text-decoration: none;
}

.wrapper{
	position: relative;
	width:100%;  //real
	// width:1100px;  // desktop
	// width:calc(768 / 16 * 1rem);  // tablets
	// width:calc(480 / 16 * 1rem);  // phones
	overflow: hidden;
	min-height: 100%;
}

section{
	background-repeat: no-repeat;
    background-position: center top;
	background-size: cover;
	position:relative;
	height:100vh;  // real
	// height:650px;  // desktop
	// height:calc(1024 / 16 * 1rem);  //tablets
	// height: calc(800 / 16 * 1rem);  //phones
	min-height:650px;
	overflow:hidden;

	@include tablets{
		min-height: 1024px;
	}

	@include phones{
		min-height: 800px;
	}
}

.section-title{
	text-transform: uppercase;
    font-family: 'gagalin', 'Helvetica', sans-serif;
    font-weight: normal;
    font-style: normal;
	font-size: 72px;
	
	&_black{
		color:$color-black;
	}

	&_yellow{
		color:$color-yellow;
	}

	&_white{
		color:$color-white;
	}
}

.container{
	width:86%;  // desktop
	max-width: 944px;  // desktop
	height:100%;
	margin: 0 auto;
	display: flex;
	flex-flow:column;

	@include tablets{
		width:94.5%;
	}

	@include phones{
		width:95%;
	}
}

.fixed-nav-bar{
	position: fixed;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}