.content{
	width: 860px;
	margin-left: 200px;
	padding-top: 50px;
}

.bread-crumbs{
	font-style: oblique;
	font-size:13px;
	color:#221f1f;
	line-height: 18px;
}

.bread-crumbs__link-to-main{
	color: #1c5bc3;
}

.content__title{
	margin-top: 28px;
	margin-bottom: 50px;
}

.content__team{
	text-align: center;
}