.footer{
	clear: both;
	height: 77px;
	background-color:#1c5bc3;
	font-size:14px;
	padding-top: 20px;
	margin-top: -77px;
	overflow: hidden;
	min-width:1100px;
}


.footer__block{
	display: block;
	color:#fff;
	width: 33.3%;
	float: left;
}


.footer__loftschool-link{
	text-decoration: none;
	color:#fff;
	font-weight: bold;
}

.footer__block_logo{
	text-align: center;
}

.footer__block_socials{
	text-align: right;
}

.footer__block_author{
	margin-top: -5px;
}