.content{
	margin-left: 180px;
}

.content__title{
	font-size:49px;
	font-weight: bold;
}

.content__title_team{
	margin-top: 21px;
	margin-bottom: 35px;
}


.content__header_airplanet{
	width: 879px;
	height: 353px;
	background-image: url(../../img/about-company/sky-back.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: 0 -187px;
	position: relative;
	margin-bottom: -21px;
	top:-45px;
}

.content__header-gradient{
	width: 879px;
	height: 353px;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	background-position: 0px 0px;
	padding-top:150px;
	padding-left: 66px;
}

.content__team-list{
	text-align: justify;
	list-style: none;
}

.content__item{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	text-align-last: center;
}

.content__item_last{
	width:100%;
	height: 1px;
	margin-top:-1px;
}

.content__wrapper{
	width: 700px;
	font-size:18px;
	line-height: 1.67em;
}

.content__text p{
	margin-bottom: 15px;
}

.content__text ul{
	margin-bottom: 14px;
}

.content__text li{
	margin-bottom: 7px;
}

.content__text li:not(:first-child){
	list-style: disc outside;
	margin-left:39px;
}


.content__proposal{
	height: 114px;
	margin-top:22px;
	margin-bottom: 74px;
	background-color: #1c5bc3;
	padding-top: 12px;
	padding-left: 29px;
}

.content__proposal p{
	color:#fff;
	margin-bottom: 14px;
}

.content__proposal a{
	font-weight: bold;
	color:#fff
}

.content__proposal a[href="tel:+78000039210"]{
	text-decoration: none;
}

