.header{
	background-color: #1c5bc3;
	height: 76px;
	padding-top: 20px;
	color: #ffffff;
	margin-bottom: 45px;
}

.logo{
	float:left;
	width: 121px;
	height: 37px;
	overflow: hidden;
}

.logo__link{
	display:inline-block;
}

.contacts{
	float: right;
	text-align: right;
	font-weight: bold;
	font-style: normal;
}

.contacts__number a{
	font-size: 20px;
	color: #fff;
}

.contacts__schedule a{
	font-size: 13px;
	color: #CED9EF;
}

.contacts__schedule:hover a{
	color: #fff;
}
