.person-card{
	width: 260px;
	margin-bottom: 45px;
}

.person-card__photo{
	width:160px;
	height: 160px;
	background-size: 160px auto;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 80px;
}

.person-card__pic{
	width:160px;
	height: 160px;
	border-radius: 80px;
}

.person-card__body{
	font-size: 14px;
	line-height: 1.42em;
	margin-top: 20px;	
}

.person-card__name{
	font-weight: bold;
	font-size:18px;
}

.person-card__position{
	font-weight: bold;
	color:#1c5bc3;
	line-height: 2em;
}

.person-card__history{
	line-height: 1.5em;
}