.socials{

}

.socials__icons{
	list-style:none;
	font-size: 0;
}

.socials__item{
	display: inline-block;
}

.socials__text{
	color:#fff;
	font-size: 14px;
	font-weight: bold;
}

.socials__circle{
	background-color: #d3dff3;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	position: relative;
	margin-top:10px;
	margin-right: 10px;
	overflow: hidden;
}

.socials__circle:hover{
	background-color:#fff;
}

.socials__link{
	display: inline-block;
	text-decoration: none;
}

.socials__pic{
	position: absolute;
	background: url("../../img/socials/socials-sprite.png") no-repeat;
	height:10px;
	width:17px;	
}

.socials__pic_vk{
	background-position: 0 -10px;
	top:4px;
	left:0px;
}

.socials__pic_fb{
	background-position: 4px -46px;
	height:14px;
	top:2px;
	left:0px;
}

.socials__pic_go{
	background-position: -1px 1px;
	top:4px;
	left:1px;
}

.socials__pic_tw{
	background-position: 0 -35px;
	top:6px;
	left:2px;
}

.socials__pic_mail{
	background-position: 0 -22px;
	top:4px;
	left:1px;
}