// ----------------------- COLORS ---------------------
$color-white:#ffffff;
$color-yellow:#f9b43b;
$color-orange:#e35028;
$color-black:#2f3234;
$color-gray: #585858;
$color-green: #8bc940;

// ----------------- SCREEN RESOLUTIONS ----------------
$tablets:768px;
$phones:480px;