.bread-crumbs{
	font-style: italic;
	font-size:14px;
	font-weight: 300;
}

.bread-crumbs__item{
	display: inline-block;
}


.bread-crumbs__link{
	color:#5775cf;
}

.bread-crumbs__item_active .bread-crumbs__link{
	color: #221f1f;
	text-decoration: none;
}

.bread-crumbs__item:after{
	content: " / ";
}

.bread-crumbs__item:last-child:after{
	content: "";
}