.comments__item{
	border-top: 2px solid #f5f5f5;
	padding-top:30px;
}

.comments__item:first-child{
	border-top: 0px solid #f5f5f5;
	padding-top:0;
}

.comments__avatar{
	height: 160px;
	width:160px;
	border-radius: 50%;
	background-repeat: no-repeat;
	overflow:hidden;
	background-position:center;
	background-size: cover;
	float:left;
	margin-bottom:30px;
}

.comments__avatar_no-avatar{
	background-image: url(../../img/comments/ellipse.png);
}

.comments__data{
	margin-left:180px;
	margin-bottom: 18px;
}

.comments__date{
	color:#656464;
	font-size:14px;
	font-weight: 300;
	margin-bottom:6px;
}

.comments__username{
	font-size:18px;
	font-weight: 700;
	margin-bottom:10px;
}

.comments__review{
	width:697px;
	font-size:18px;
	line-height: 1.67em;
	font-weight: 300;
}

