.navigation{
	width: 180px;
	float:left;
}

.navigation__list{
	list-style: none;
}

.navigation__item{
	margin-bottom: 31px;
	margin-top:3px;
}

.navigation__link{
	display: inline-block;
	position: relative;
	text-decoration: none;
	right:1px;
	top:-3px;
}

.navigation__text{
	margin-left: 36px;
	font-size:12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	color:#1c5bc3;
}

.navigation__pic{
	position: absolute;
	overflow: hidden;
	bottom: 1px;
	width: 23px;
	height: 18px;
	background-image: url("../../img/navigation/navigation-sprite.png");
	background-repeat: no-repeat;
}

/*-------------- HOVER --------------*/

.navigation__link:hover .navigation__text{
	color:#221f1f;
}

.navigation__pic-main{	
	background-position: -0px -92px;
}

.navigation__link:hover .navigation__pic-main{
	background-position: -0px -74px;
}

.navigation__pic-team{
	background-position: -0px -18px;
}

.navigation__link:hover .navigation__pic-team{
	background-position: -0px -0px;
}

.navigation__pic-feed{
	background-position: -0px -55px;
}

.navigation__link:hover .navigation__pic-feed{
	background-position: -0px -36px;
}


/*----------- ACTIVE ------------*/

.navigation__item_active .navigation__text{
	color:#221f1f;
}

.navigation__item_active .navigation__pic-main{
	background-position: -0px -74px;
}

.navigation__item_active .navigation__pic-team{
	background-position: -0px -0px;
}

.navigation__item_active .navigation__pic-feed{
	background-position: -0px -36px;
}