.socials{
	display: block;
	float: right;
}

.socials__text{
	color:#fff;
	font-size: 14px;
	font-weight: bold;
}

.socials__circle{
	background-color: #d3dff3;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	margin-top:10px;
	margin-right: 10px;
}

.socials__circle:hover{
	background-color:#fff;
}

.socials__link{
	text-decoration: none;
}
.socials__pic{
	position: absolute;
	left:4px;
	bottom:5px;
}

.socials__pic-vk{
	left:3px;
	bottom: 6px;
}

.socials__pic-fb{
	left:7px;
	bottom: 4px;
}

