.header{
	background-color: #1c5bc3;
	height: 76px;
	padding-top: 20px;
	color: #ffffff;
}

.logo{
	float:left;
}

.logo__pic{
	width: 121px;
	height: 37px;
}

.contacts{
	float: right;
	text-align: right;
	font-weight: bold;

}

.contacts__number{
	color: #ffffff;
	font-size: 21px;
}

.contacts__schedule{
	color: #ffffff;
	font-size: 14px;
}
